/* in alphabetical order */

#aside {
    background: linear-gradient(to bottom right, #04c062, #32fae9);
    border-radius: 20px;
    height: 600px;
}

body {
    background: linear-gradient(to right bottom, #49a09d, #2ca059);
    background-repeat: no-repeat;
    background-attachment: fixed;
      font-family: sans-serif;
}

h4 {
    margin-left: 40px;
}

h5 {
    margin-left: auto;
    margin-top: auto;
}

#header {
    height: 100px;
    margin-top: 20px;
}

#headerText {
    margin-top: 5px;
    font-family: 'Potta One', cursive;
    color: rgb(243, 240, 89);
    mix-blend-mode: hard-light;
}

#results {
    background: linear-gradient(to bottom left, #04c062, #32fae9);
    border-radius: 20px;  
}

#search-button {
    background-color: seagreen;
}

#search-input {
    position: absolute;
    margin-left: 4%;
}